version: "3.9"

volumes:
  redis_data:
  n8n_data:
  torch_cache:

networks:
  app_net:
    driver: bridge

services:
  redis:
    image: redis:7-alpine
    command:
      - redis-server
      - --maxmemory
      - 512mb
      - --maxmemory-policy
      - allkeys-lru
      - --save
      - ""
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - app_net

  n8n:
    image: n8nio/n8n:2.0.2
    ports:
      - "5678:5678"
    environment:
      TZ: Asia/Ho_Chi_Minh
      N8N_HOST: 0.0.0.0
      N8N_PORT: 5678
      N8N_PROTOCOL: http
      EXECUTIONS_MODE: queue
      QUEUE_BULL_REDIS_HOST: redis
      QUEUE_BULL_REDIS_PORT: 6379
      N8N_ENCRYPTION_KEY: f19daf06a1296311ee255a097a667e892a2dcff4b82c6b04723f92efca2a9b4d
      N8N_USER_MANAGEMENT_JWT_SECRET: aa664f8557773c105d7035b543dec7004be5bf3986f5b5d5df4b7c5193521be4
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - app_net

  api:
    build: .
    image: app-runtime:dev
    ports:
      - "8000:8000"
    environment:
      TZ: Asia/Ho_Chi_Minh
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - ./src:/home/app/src
      - torch_cache:/home/app/.cache
      - ./data:/data
      - ./models:/data/models
      - ./output:/data/output
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - app_net

  celery_worker:
    image: app-runtime:dev
    command: celery -A api.celery_app worker --concurrency=1 --loglevel=info --prefetch-multiplier=1
    environment:
      TZ: Asia/Ho_Chi_Minh
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - ./src:/home/app/src
      - torch_cache:/home/app/.cache
      - ./data:/data
      - ./models:/data/models
      - ./output:/data/output
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - app_net
