services:
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped

  n8n:
    build: .
    image: n8n_custom:latest
    container_name: n8n_main
    command: ["n8n"]
    ports:
      - "5678:5678"
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - GENERIC_TIMEZONE=Asia/Ho_Chi_Minh

      - N8N_USER_FOLDER=/data
      - N8N_LOG_LEVEL=error

      - N8N_QUEUE_MODE=regular
      - QUEUE_BULL_REDIS_HOST=redis
      - QUEUE_BULL_REDIS_PORT=6379

    volumes:
      - n8n_data:/home/node/.n8n
      - ./data:/data
      - ./tmp:/tmp
      - ./downloads:/home/node/downloads
      - ./rclone-config:/home/node/.config/rclone
      - ./scripts:/data/scripts
      - ./models:/data/models
      - ./dataset_yolo:/data/dataset_yolo
      - ./image_logo.png:/data/image_logo.png
      - ./output:/data/output
    depends_on:
      - redis
    restart: unless-stopped

  worker:
    build: .
    image: n8n_custom:latest
    container_name: n8n_worker
    command: ["n8n"]
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - GENERIC_TIMEZONE=Asia/Ho_Chi_Minh

      - N8N_USER_FOLDER=/data
      - N8N_LOG_LEVEL=error

      - N8N_EXECUTIONS_MODE=queue
      - QUEUE_BULL_REDIS_HOST=redis
      - QUEUE_BULL_REDIS_PORT=6379

    volumes:
      - n8n_data:/home/node/.n8n
      - ./data:/data
      - ./tmp:/tmp
      - ./downloads:/home/node/downloads
      - ./rclone-config:/home/node/.config/rclone
      - ./scripts:/data/scripts
      - ./models:/data/models
      - ./dataset_yolo:/data/dataset_yolo
      - ./image_logo.png:/data/image_logo.png
      - ./output:/data/output
    depends_on:
      - redis
    restart: unless-stopped

volumes:
  n8n_data:
